<footer>
    <!-- Footer Services Start -->
    <div class="container">
        <div class="mx-xl-3 row my-2">
            <div class="col-sm-12 col-lg-4 my-2">
                <div class="card border-0 light-bg">
                    <div class="card-body p-0 ">
                        <div class="row">
                            <div class="col-5">
                                <img src="assets/img/footer-services-placeholder.jpg"
                                    class="img-fluid h-100 footer-services-img" />
                            </div>
                            <div class="col-7 mt-3 pb-2">
                                <h6 class="card-subtitle mb-2">Guaranteed safe checkout.</h6>
                                <p class="card-text">100% safe and secure!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <div class="card border-0 light-bg">
                    <div class="card-body p-0 ">
                        <div class="row">
                            <div class="col-5">
                                <img src="assets/img/footer-services-placeholder.jpg"
                                    class="img-fluid h-100 footer-services-img" />
                            </div>
                            <div class="col-7 mt-3 pb-2">
                                <h6 class="card-subtitle mb-2">Guaranteed safe checkout.</h6>
                                <p class="card-text">100% safe and secure!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <div class="card border-0 light-bg">
                    <div class="card-body p-0 ">
                        <div class="row">
                            <div class="col-5">
                                <img src="assets/img/footer-services-placeholder.jpg"
                                    class="img-fluid h-100 footer-services-img" />
                            </div>
                            <div class="col-7 mt-3 pb-2">
                                <h6 class="card-subtitle mb-2">Guaranteed safe checkout.</h6>
                                <p class="card-text">100% safe and secure!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="light-bg py-2 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <a href="#"><img src="{{siteInfo.logo}}" class="img-fluid mb-2" width="200"/></a>
                    <p>
                        {{description}}
                    </p>
                </div>
                <div class="col-sm-12 col-md-2">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li class="py-1" *ngFor="let category of category.categories"><a href="#">{{category.categoryName}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2">
                    <h6>Helpful links</h6>
                    <ul class="footer-links">
                        <li class="py-1"><a href="#">Your account</a></li>
                        <li class="py-1"><a href="#">Order tracking</a></li>
                        <li class="py-1"><a href="#">Delivery info</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2">
                    <h6>Information</h6>
                    <ul class="footer-links">
                        <li class="py-1"><a href="#">Shipping & Returns</a></li>
                        <li class="py-1"><a href="#">Privacy Policy</a></li>
                        <li class="py-1"><a href="#">Condition of use</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2">
                    <h6>Support</h6>
                    <ul class="footer-links">
                        <li class="py-1"><a href="mailto:support@email.com">support@email.com</a></li>
                        <li class="py-1"><a href="tel:1111111111">(111) 111-1111</a></li>
                        <li class="py-1"><a href="#">3135 Doctors Drive
                                Calgary, Alberta t7x0m9
                                Canada</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-bg py-2 text-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div>
                        Copyright © 2023 E Market Place. All rights reserved.
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="text-lg-end">
                        Powered by: PayMyTuition
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>