<!-- Carousel Start -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/slider-placeholder.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/img/slider-placeholder.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/img/slider-placeholder.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Carousel End -->

<!--  Welcome Message Start -->
<section class="bg-white my-5">
    <div class="text-center container">
        <h3 class="h3">
            Welcome to E-Marketplace
        </h3>
        <div class="store-welcome-message mx-auto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</p>
            <hr class="w-50 mx-auto" />
        </div>
    </div>
</section>
<!--  Welcome Message End -->

<!--  Stores Start -->
<section class="bg-white my-5">
    <div class="container">
        <div class="row mx-lg-5">
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 my-2">
                <a href="#" class="store-card-home">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Campus Rec-Sport Clubs Invoices</h5>
                            <p class="card-text">Aenean consectetur odio in condimentum tristique. Nam hendrerit
                                urnaex.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-primary px-3">Load More</button>
        </div>
    </div>
</section>
<!--  Stores End -->