<!-- Topbar Start -->
<div class="dark-bg py-2 text-white">
    <div class="container d-flex justify-content-between">
        <div>
            <a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a>&nbsp;
            <a target="_blank" href="#"><i class="fa-brands fa-twitter"></i></a>&nbsp;
            <a target="_blank" href="#"><i class="fa-brands fa-youtube"></i></a>&nbsp;
        </div>
        <div>
            <a target="_blank" href="#"><i class="fas fa-envelope"></i></a>&nbsp;
            <a target="_blank" href="#"><i class="fas fa-map-marker-alt"></i></a>&nbsp;
        </div>

    </div>
</div>
<!-- Topbar End -->
<!-- Header Start -->
<div class="sticky-top ">
    <!-- Navbar Start -->
    <nav class="navbar shadow navbar-expand-lg py-3 glass-navbar">
        <div class="container">
            <a class="navbar-brand" routerLink="/"><img src="{{siteInfo.logo}}" class="img-fluid" width="150"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item px-lg-2 px-xl-4">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item px-lg-2 px-lg-4 dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Store
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let category of categoryItems.categories">
                                <a class="dropdown-item" (click)="getStores(category)">{{category.categoryName}}</a>
                            </li>                           
                        </ul>
                    </li>
                    <li class="nav-item px-lg-2 px-lg-4 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Products
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item px-lg-2 px-xl-4">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <div>
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-12 col-lg-6 col-xl-auto pb-2 pb-lg-auto">
                            <form method="get" action="/">
                                <div class="input-group border rounded">
                                    <span class="input-group-text bg-white border-0">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input class="form-control py-2 border-0" type="search" placeholder="Search"
                                        id="navbarSearch" />
                                </div>
                            </form>
                        </div>
                        <div class="col-2 col-lg-2 col-xl-auto">
                            <a class="text-secondary" class="text-secondary" data-bs-toggle="offcanvas"
                                href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                <i class="fas fa-shopping-cart position-relative">
                                    <small *ngIf="cartItems.products.length > 0">
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {{cartItems.products.length}}
                                        </span>
                                    </small>
                                </i>
                            </a>
                        </div>
                        <div class="col-4 col-lg-4 col-xl-auto">
                            <button type="button" class="btn btn-primary">Login/Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Offcanvas Mini Cart Start -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mini Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="mini-shopping-cart-item">
                <p class="pb-2 border-bottom" *ngIf="cartItems.products.length >0; else emptyMiniCart">You have <strong>{{cartItems.products.length}}&nbsp;item(s)</strong> in your cart.</p>
                <ng-template #emptyMiniCart>
                    <p>You currently have no items in cart</p>
                </ng-template>
                <div class="items-scroll">
                    <!-- Row Start -->
                    <div class="row border-bottom pb-2 my-2 align-items-center" *ngFor="let item of cartItems.products; let i=index;">
                        <div class="col-12 col-md-1 text-center text-xl-start d-xl-flex align-items-xl-center">
                            <a (click)="removeCartItem(i)"><i class="fas fa-times fa-xl text-danger"></i></a>
                        </div>
                        <div class="col-12 col-md-3 text-center text-xl-start ">
                            <img src="{{item.productImage}}" class="img-fluid rounded-2 shadow mb-2 mb-xl-auto"
                                width="100" />
                        </div>
                        <div class="col-12 col-md-8 text-center text-xl-start">
                            <div class="row d-flex mt-2 mt-lg-auto align-items-center">
                                <div class="col-11">
                                    <h6>{{item.productName}}</h6>
                                    <p class="py-0 my-0">Unit price: ${{item.productPrice}}</p>
                                    <p>Qty:&nbsp;1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row End -->
                </div>
                <div class="item-subtotal border-top bg-white">
                    <button type="button" class="btn btn-primary w-75 shadow">Go to cart &nbsp;<i
                            class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <!-- Offcanvas Mini Cart End -->
    </div>
<!-- Header End -->