<section>
    <!-- Page Title Start -->
    <div class="dark-bg pb-5 text-white">
        <div class="container">
            <div class="row d-flex justify-content-between pt-2 pb-3">
                <div class="col-md-6">
                    <h3 class="fw-normal">{{title}}</h3>
                </div>
                <div class="col-md-6 text-lg-end">
                    <a class="text-muted" routerLink="/">Home</a>&nbsp;<i
                        class="fas fa-chevron-right text-muted"></i>&nbsp;
                    <a>{{title}}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title End -->
    <!-- Page Body Start -->
    <div class="page-body">
        <div class="container">
            <div class="card border-0 rounded-4">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-3" *ngFor="let subCategory of paginatedItems">
                            <div class="card">
                                <img src="{{subCategory.subCategoryImage}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{subCategory.subCategoryName}}</h5>
                                  <p class="card-text category-description">{{subCategory.subCategoryDescription}}</p>
                                  <a class="btn btn-primary rounded px-5" (click)="getProduct(subCategory)">Details</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- Pagination Start -->
                    <nav class="d-flex justify-content-center mt-5" *ngIf="subCategories.length > limit">
                        <ul class="pagination">
                          <li  class="page-item" (click)="selectPageNumber(skip/limit - 1)" *ngIf="pre">
                            <a class="page-link" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item" *ngFor="let page of pageList;let i=index;">
                            <a class="page-link" 
                            (click)="selectPageNumber(i)"
                            [class.active]="selectedIndex === i"
                            >{{i+1}}</a>
                          </li>
                          <li class="page-item" (click)="selectPageNumber(skip/limit + 1)">
                            <a class="page-link"aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    <!-- Pagination Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Body End -->
</section>